body{
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.common{
    /* background-color: #cccccc; */
    border: 1px solid white;
    position: absolute;
}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: 2px solid #ffffff;
}
.leftmenu{
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-right: 5px;
    padding-left: 5px;
}

.mainbody{
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-left: 5px;
    padding-right: 5px;
}
.rightmenu{
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    padding-left: 5px;
    padding-right: 5px;
}

.footer{
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 25px;
    font-size: 8px;
    text-align: center;
    color: #999999;
    padding-top: 15px;
    position: fixed;
}

.secondheader{
    float: right;
}

